# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000

# scroller-customer-interactions-db proxy configuration
SCROLLER_CUSTOMER_INTERACTIONS_DB_BASE_URL=http://localhost:8300
SCROLLER_CUSTOMER_INTERACTIONS_DB_API_KEY=your-api-key-here
# Authentication
JWT_SECRET_KEY=your-secret-here